---
import { getOgImage, getUrl, getProjects } from '../helpers';
import Layout from '../layouts/layout';
import Card from '../components/Card.astro';

export async function getStaticPaths() {
    const projects = await getProjects();


    return projects.map((project) => {
        return {
            params: { project: project.full_name },
            props: { data: project } };
        }
    );
}
const {project} = Astro.request.params;
const {data} = Astro.props;

const image = await getOgImage(data.homepage, 'c_fit,h_353,w_672');
---

<Layout>
    <article class="bg-white shadow overflow-hidden rounded-xl mx-auto max-w-2xl">
        <img 
            src={image}
            width="672"
            height="353"
            onerror="this.onerror=null;this.src='/assets/placeholder.png';" 
            alt={`Picture of ${data.owner.login}'s ${data.name}`}>
        <div class="flex items-center">
            <a href={data.owner.html_url}>
                <img class="rounded-full m-2" height="64px" width="64px" src={data.owner.avatar_url} alt={`Picture of ${data.owner.login}`} loading="lazy">
            </a>
            <h2 class="font-bold my-2 text-xl"><a href={getUrl(data.homepage)}>{data.owner.login}/{ data.name }</a></h2>
        </div>
        <p class="px-2 pb-2 ">{data.description}</p>
    </article>
</Layout>