---
import { getOgImage, getUrl, getProjects } from '../helpers';
import Layout from '../layouts/layout';
import Card from '../components/Card.astro';
import dayjs from 'dayjs'
import relativeTime  from 'dayjs/plugin/relativeTime'
dayjs.extend(relativeTime);

export async function getStaticPaths() {
    const projects = await getProjects();

    return projects.map((project) => ({
            params: { project: project.full_name },
            props: { data: project } 
        })
    );
}
const {project} = Astro.request.params;
const {data} = Astro.props;

const image = await getOgImage(data.homepage, 'c_fit,h_353,w_672');
---

<Layout description={`A page to showcase ${data.owner.login}'s ${ data.name } repo. For more info, go to Astro.build!`}>
    <article class="bg-white shadow overflow-hidden rounded-xl mx-auto max-w-2xl">
        <img 
            src={image}
            width="672"
            height="353"
            onerror={`this.src='https://v1.screenshot.11ty.dev/${encodeURIComponent(
                getUrl(data.homepage)
            )}/opengraph'`}
            alt={`Picture of ${data.owner.login}'s ${data.name}`}>
        <div class="flex items-center ">
            <a href={data.owner.html_url} class="m-2">
                <img class="rounded-full" height="64px" width="64px" src={data.owner.avatar_url} alt={`Picture of ${data.owner.login}`} loading="lazy">
            </a>
            <div class="flex flex-col">
                <h2 class="font-bold"><a href={getUrl(data.homepage)}>{data.owner.login}/{ data.name }</a></h2>
                <p id="meta-data" class=" text-gray-500 italic">{ JSON.stringify({
                    created_at: data.created_at,
                    updated_at: data.updated_at
                })}</p>
                <script>
                    const metaData = document.getElementById("meta-data");
                    console.log(metaData.innerHTML)
                    const data = JSON.parse(metaData.innerHTML);
                    console.log(data)

                    metaData.innerHTML = `Created ${dayjs(data.created_at).fromNow()}, last updated ${dayjs(data.updated_at).fromNow()}.`
                </script>
            </div>
        </div>{
            data.description &&
            <div class="px-2 py-1">
                <label for="description" class="font-bold">Description:</label>
                <p id="description">{data.description}</p>
            </div>
        }
        <div class="px-2 py-1">
            <label for="homepage" class="font-bold">Page:</label>
            <p id="homepage"><a class="underline" href={data.homepage}>{data.homepage}</a></p>
        </div>
        <div class="px-2 py-1">
            <label for="html_url" class="font-bold">Repository:</label>
            <p id="html_url"><a class="underline" href={data.html_url}>{data.html_url}</a></p>
        </div>
        <div class="px-2 py-1 pb-2">
            <a href="/">👈 Go back to overview</a>
        </div>
    </article>
</Layout>