---
import { getOgImage } from '../helpers';

export interface Props {
  project: object;
}

const { project } = Astro.props;

image = await getOgImage(project.homepage);
---
<a href={`/${project.full_name}`}>
    <article class="bg-white shadow overflow-hidden rounded-xl max-w-md">
        <img 
            src={image} 
            onerror="this.onerror=null;this.src='/assets/placeholder.png';" 
            alt={`Picture of ${project.owner.login}'s ${project.name}`}>
        <div class="flex items-center">
            <img class="rounded-full m-2" height="64px" width="64px" src={project.owner.avatar_url} alt={`Picture of ${project.owner.login}`} loading="lazy">
            <h2 class="font-bold my-2 text-xl">{ project.full_name }</h2>
        </div>
        <p class="px-2 pb-2 ">{project.description}</p>
    </article>
</a>